<section class="section">
  <div class="box">
    <div class="content has-text-centered">
      <h1 class="title">Typing Challenge</h1>
      <p>
        <span
          *ngFor="let character of randomText.split(''); let i = index"
          [ngClass]="{
            'has-text-success': text[i] && character === text[i],
            'has-text-danger': text[i] && character !== text[i]
          }"
          >{{ character }}</span
        >
      </p>
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="field">
            <div class="control">
              <input
                type="text"
                class="input"
                (input)="text = $event.target.value"
              />
            </div>
          </div>
        </div>
      </div>
      <p *ngIf="showSuccess()" class="has-text-success subtitle">Success!</p>
    </div>
  </div>
</section>
